@import url(sidebar.scss);
@import url(inputs.scss);
@import url(button.scss);

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.container {
    display: flex;
    justify-content: start;
    align-items: center;
}

.container-content {
    display: flex;
    gap: 40px;
}

h1 {
    font-size: 20px;
    margin-top: 10px;
}

main {
    margin-top: 40px;
}

.dash-container {
    margin-top: 30px;
}

.all-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.gap-15 {
    gap: 15px;
}

.dash-box {
    padding: 20px;
    border: 1px solid #ddd;
    height: 200px;
    width: 300px;
    border-radius: 5px;
}

.dash-box h2 {
    width: 260px;
}

.dash-box h2:nth-child(2) {
    font-size: 50px;
    margin-top: 20px;
    color: dodgerblue;
}

